services:
  orders-sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: orders-sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "SqlDev@123"
    ports:
      - "1435:1433"
    volumes:
      - orders_mssql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "pgrep sqlservr"]
      interval: 10s
      timeout: 5s
      retries: 10

  orders-api:
    container_name: orders-api
    build:
      context: .
      dockerfile: Orders.Api/Dockerfile
    depends_on:
      orders-sqlserver:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__OrdersDb: >
        Server=orders-sqlserver;
        Database=OrdersDb;
        User Id=sa;
        Password=SqlDev@123;
        TrustServerCertificate=True;
    ports:
      - "8082:8080"

volumes:
  orders_mssql_data:
