services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  # --------------------
  # Catalog
  # --------------------
  catalog-sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: catalog-sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "SqlDev@123"
    ports:
      - "1433:1433"
    volumes:
      - catalog_mssql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "pgrep sqlservr"]
      interval: 10s
      timeout: 5s
      retries: 10

  catalog-api:
    build:
      context: .
      dockerfile: CatalogService/Catalog.Api/Dockerfile
    container_name: catalog-api
    depends_on:
      catalog-sqlserver:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      # Database
      ConnectionStrings__CatalogDb: >
        Server=catalog-sqlserver;
        Database=CatalogDb;
        User Id=sa;
        Password=SqlDev@123;
        TrustServerCertificate=True

      # RabbitMQ (non-blocking)
      RabbitMQ__Host: rabbitmq
      RabbitMQ__Username: guest
      RabbitMQ__Password: guest
    ports:
      - "8081:8080"

  # --------------------
  # Orders
  # --------------------
  orders-sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: orders-sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "SqlDev@123"
    ports:
      - "1435:1433"
    volumes:
      - orders_mssql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "pgrep sqlservr"]
      interval: 10s
      timeout: 5s
      retries: 10

  orders-api:
    build:
      context: .
      dockerfile: Orders/Orders.Api/Dockerfile
    container_name: orders-api
    depends_on:
      orders-sqlserver:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      # Database
      ConnectionStrings__OrdersDb: >
        Server=orders-sqlserver;
        Database=OrdersDb;
        User Id=sa;
        Password=SqlDev@123;
        TrustServerCertificate=True

      # RabbitMQ (non-blocking)
      RabbitMQ__Host: rabbitmq
      RabbitMQ__Username: guest
      RabbitMQ__Password: guest
    ports:
      - "8082:8080"

volumes:
  catalog_mssql_data:
  orders_mssql_data:
